<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015-present, Parse, LLC.
  ~ All rights reserved.
  ~
  ~ This source code is licensed under the BSD-style license found in the
  ~ LICENSE file in the root directory of this source tree. An additional grant
  ~ of patent rights can be found in the PATENTS file in the same directory.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.parse.starter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".StarterApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MooDf"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="@string/parse_app_id" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="@string/parse_client_key" />

        <activity
            android:name=".Main22Activity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:label="MooDf"
            android:windowSoftInputMode="adjustNothing|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".loading" />
        <activity android:name=".UserListActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".userFeedActivity" />
        <activity android:name=".offline" />
        <activity android:name=".gameActivity" />
        <activity android:name=".Browser" />
        <activity android:name=".listActivity" />
        <activity android:name=".notepad" />
        <activity android:name=".NoteEditorActivity"></activity>
    </application>

</manifest>